.skills {
    width: 80%;
    height: 5px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.gray {
    color: rgb(87, 88, 90) !important;
    transition: all 0.5s ease;
}
.html:hover {
    color: #e34f26 !important;
}
.css:hover {
    color: #2346d3 !important;
}
.js:hover {
    color: #f7df1e !important;
}
.reactjs:hover {
    color: #038cfc !important;
}
.bootstrap:hover {
    color: #563d7c !important;
}
.tailwind-css:hover {
    color: #0079ad !important;
}
.figma:hover {
    color: #000 !important;
}
@media (max-width: 750px) {
    
    .skills div {
        margin: auto;
        margin-bottom: 20px;
    }
    .skills {
        margin-bottom:50px;
    }
}