

hr {
    width: 75%;
    margin: auto;
    color: #63606050;
}

nav {
    background-color: #1877f2;
    position: fixed;
    width: 100vw;
    height: 8vh;
    z-index: 10000000000;
}

nav a,
nav span {
    color: #ffffff;
    transition: all .3s;
}

nav a:hover,
nav span:hover {
    color: #06c7f6;
}

nav a:hover {
    border-bottom: 8px solid #06c7f6;
}