.projects {
    padding-top: 10vh;

}

.right-psection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    padding-left: 21rem;
}

.left-psection {
    position: fixed;
    left: -2vw;
    width: 320px;
    height: 100vh;
    bottom: .2vh;
    background: var(--therd-bgc);
    padding: 2rem;
    padding-top: 6rem;
    overflow-y: auto;
    border-right: 1px solid var(--therd-bgc);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    /* z-index: 10000000000; */
}

button {
    background-color: var(--mainc);
    width: 90%;
    height: 40px;
    margin: 9px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: var(--secoundc);
}


button.active {
    background-color: var(--secoundc);
    transform: scale(0.98);
}

.right-psection .project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 348px;
    gap: 1rem;
    box-shadow: var(--shadow);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--card-bgc);
}

.right-psection .project-card:hover img {
    scale: calc(105%);
    transform: rotate(-2deg);
}

.right-psection .image {
    padding: 0 !important;
    overflow: hidden;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.right-psection .image img {
    width: 348px;
    height: 274.44px;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.right-psection .project-card div {
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #4b4b4d50;
    padding-bottom: 50px;
    padding-left: 10px;
    min-height: 120px;
}

.right-psection h1 {
    align-items: flex-start !important;
    text-align: start !important;

    font-size: 20px;
    font-weight: 600;
    color: var(--mainc);

}

.right-psection p {
    font-size: 13px;
    display: flex;
    align-items: flex-start !important;
    text-align: start;
    justify-content: flex-start !important;
    font-weight: 400;
    margin: 5px;
    color: var(--mainc);
}

.visit {
    background-color: var(--mainc);
    width: 95%;
    height: 30px;
    margin: 9px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

@media (max-width: 1550px) {

    .right-psection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1150px) {

    .right-psection {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 1000px) {
    
    /* dont forget to edit it */
    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects .left-psection {
        position: relative;
        display: flex !important;
        flex-direction: row !important;
        width: 96%;
        height: fit-content;
        gap: 1rem;
        background-color: transparent;
        flex-wrap: wrap;

    }

    .projects .left-psection button {
        width: 130px;
        margin: 1px;
    }

    .projects .right-psection {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 70px;
        padding-top: 20px;
    }
    .projects .right-psection  .project-card {
        margin: auto;

    }
    
}
    @media (max-width: 770px) {
        
    .projects .right-psection {
        padding: 18px;
    }
    }