Footer {
    
    border-top: 1px solid #63606050;
    position: relative;
    /* bottom: 0; */
    width: 100%;
    height: 45px;
    bottom: -100px;
    padding-top: 10px;
    /* position: fixed; */
    background-color: var(--mainc);
    z-index: 9999999999999;
}


Footer a {
    color: var(--secoundc);
    
}