/* .contact .leftsc {

    position: fixed;
    left: -2vw;
    width: 320px;
    height: 100vh;
    bottom: .2vh;
    background: linear-gradient(35deg, #fff, #1877f2);
    padding: 2rem;
    overflow-y: auto;
    border-right: 1px solid #ddd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #1877f2;
    font-size: 40px;
    font-family: "Joti One", serif;
    padding: auto;
    margin: auto;
    text-align: center;
    gap: 5rem;
}

.contact .rightsc {
    margin-top: 36vh;
    margin-left: 25vw;
    justify-content: center;


}

.contact .rightsc form {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 6px;
    width: 60vw;
    border: 2px solid #003881;
}

.contact .rightsc form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
    width: 40%;
}

.contact .rightsc form div input {
    height: 40px;
    padding: 10px;
    border: 2px solid #003881;
    color: #031c3d;
}

.contact .rightsc form textarea {
    width: 55%;
    height: 370px;
    resize: none;
    padding: 15px;
    margin: 10px;
    border: 2px solid #003881;
    color: #031c3d;

    }
    
.contact-btn {
    background-color: #003881;
    } */
    

input,
textarea,
.contact .container {
    border: var(--shadow);
    /* border: 1px solid rgba(90, 90, 90, 0.336); */
    /* box-shadow: 1px 1px 8px #686868; */
    box-shadow: var(--shadow);
}

.contact {
    justify-content: center;
    align-items: center;
}

.contact .container {
    display: flex;
    height: 600px;
    width: 65%;
    margin-top: 23vh;
    /* justify-content: space-between; */
    background-color: var(--therd-bgc);
    border-radius: 10px;
}

.contact .container .leftsc {
    font-size: 30px;
    display: flex;
    width: 30%;
    background: var(--mainc);
    background-size: cover;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.contact .container .rightsc {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 60%;
    
}


.contact .container .rightsc form {
    gap: 30px;
    width: 90%;
    position: relative;
    left: 50px;
}

.contact .container .rightsc form input {
    outline: none;
    height: 55px;
    padding: 20px;
    color: var(--lite-mainc);
    border-radius: 8px;
    transition: all .5s;
}

.contact .container .rightsc form textarea {
    border-radius: 10px;
    outline: none;
    height: 100px;
    padding: 10px;
    color: var(--lite-mainc);
    resize: none;
    transition: all .5s;
}

.contact .container .rightsc form input:focus,
.contact .container .rightsc form textarea:focus {
    outline: 1px solid var(--lite-mainc);
    border: 1px solid var(--lite-mainc);
}

.contact .container .rightsc form button {
    margin-left: 1.4rem;
    height: 50px;
}

@media (max-width: 850px) {
    .contact .container {
        width: 80%;
    }
    
    .contact .container .rightsc {
        width: 70%;
        transform: translateX(-50px);
    }

    .contact .container .leftsc {
        font-size: 27px;
    }
}

@media (max-width: 700px) {
    .contact .container {
        flex-direction: column;
        height: 500px;
    }
    
    .contact .container .leftsc {
        width: 100%;
        height: 15%;
        border-radius: 10px 10px 0 0;
        box-shadow: none;
    }
    
    .contact .container .rightsc {
        padding: 8px;
        padding-top: 20px;
        height: 60%;
        width: 100%;
    }

    .contact .container .rightsc input {
        height: 40px !important;
    }
    
    .contact .container .rightsc textarea{
        height: 90px !important;
        
    }

    .contact .container .rightsc button.contact-btn {
        transform: translate(-7px,-10px);
        height: 40px !important;
    }
}