.suggested-projects ul li {
  background-color: hsl(225, 24%, 27%);
  background-image: url("/assets/projects photo/placeholder.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 20px;
  border-radius: 20px;
  font-family: 'Barlow', sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  background-size: cover;
  padding-left: 80px;
  padding-right: 80px;
  width: 80vw;
  height: 350px;
  position: relative;
  transition: all 0.5s ease-in-out;
  box-shadow: var(--shadow);
    font-family: 'Joti One', sans-serif;

}

.suggested-projects ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: 100%;
  background-position: inherit;
  background-repeat: inherit;
  border-radius: inherit;
  filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
  z-index: 0;
}

.suggested-projects ul li:hover::before {
  filter: grayscale(0%);
  background-size: 105%;
}

.suggested-projects ul li h1 {
  font-size: 40px;
  font-weight: 900;
  color: var(--mainc);
  position: relative;
  z-index: 1;
}
@media (max-width: 680px) {
  .suggested-projects ul li:hover::before {
    filter: grayscale(0%);
    background-size: 165%;
  }
  .suggested-projects ul li::before {
    background-size: 185%;

  }
  
.suggested-projects ul li h1 {
  font-size: 35px;
  width: 150%;
  /* margin: auto; */
  
}

.suggested-projects ul li{
  padding-top: 55px;
  padding-left: 20px;
  height: 10px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
} 
}